<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
    <style>
        .chat-header { background-color: #212529; color: white; }
        .chat-box { max-height: 400px; overflow-y: auto; }
        .message { margin-bottom: 15px; }
        .outgoing_msg { display: flex; justify-content: flex-end; }
        .incoming_msg { display: flex; justify-content: flex-start; }
        .sent_msg, .received_msg { max-width: 80%; min-width: 60px; word-wrap: break-word; display: inline-block; position: relative; }
        #messageInput { resize: none; }
        .sent_msg p, .received_msg p { padding: 10px 15px; border-radius: 10px; margin: 0; display: inline-block; }
        .sent_msg p { background: #05728f; color: white; min-width: 1%; }
        .received_msg p { background: #ebebeb; color: black; min-width: 1%; }
        .sent_time_date { display: block; font-size: 12px; color: #747474; margin-top: 5px; text-align: right; }
        .received_sent_time_date { display: block; font-size: 12px; color: #747474; margin-top: 5px; text-align: left; }
        .list-group-item { cursor: pointer; }
        .list-group-item.active { background-color: #007bff; border-color: #007bff; }
        #chatList { max-height: 450px; overflow-y: auto; }
        .modal-backdrop { z-index: 1040 !important; }
        .role-text { font-size: 20px; color: #727272 }
        .modal { z-index: 1050 !important; }
        .member-list { display: flex; justify-content: space-between; align-items: center; margin: 0 15px 0 15px;}
        .member-img {
            border-radius: 10px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }
    </style>
</th:block>

<th:block layout:fragment="javascript">
    <!-- 채팅.js -->
    <!--<script src="/js/chat/chat.js?v=<%=System.currentTimeMillis() %"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

    <script th:inline="javascript">

        $(document).ready(function () {
            $('#messageInput').keypress(function(e){
                if (e.key === 'Enter' && e.shiftKey) {
                    return true;
                } else if(e.keyCode === 13){
                    sendMessage();
                    return false;
                }
            });
        });

        let stompClient = null;
        let currentRoomId = null;
        let currentSubscription = null;
        let previousDate = null; // 전역으로 정의

        function connect() {
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                loadChatRooms();
            }, function(error) {
                console.log('STOMP error: ' + error);
            });
        }

        function loadChatRooms() {
            const userId = [[${session.employee.getEmployeeId()}]];
            // API 호출
            fetch(`/chatrooms/user/${userId}`)
                .then(response => response.json())
                .then(rooms => {
                    const chatListElement = document.getElementById('chatList');
                    chatListElement.innerHTML = ''; // 기존 목록 비우기
                    rooms.forEach(room => {
                        const listItem = document.createElement('li');
                        listItem.classList.add('list-group-item');
                        listItem.textContent = room.name;
                        listItem.setAttribute('data-chat-id', room.chatRoomId);
                        listItem.onclick = () => joinRoom(room.chatRoomId, room.name);
                        listItem.addEventListener('click', function() {
                            loadChatHistory(room.chatRoomId);
                        });
                        chatListElement.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error loading chat rooms:', error));
        }

        function loadChatHistory(chatId) {
            fetch(`/messages/${chatId}`)
                .then(response => response.json())
                .then(messages => {
                    const chatBox = document.getElementById('chat-room-messages');
                    chatBox.innerHTML = '';

                    previousDate = null; // 날짜 초기화

                    messages.forEach(message => {
                        previousDate = showMessage(message, previousDate, chatBox);
                    });
                })
                .catch(error => console.error('Error loading messages:', error));
        }

        function sendMessage() {
            const content = document.getElementById('messageInput').value;
            const senderId = [[${session.employee.getEmployeeId()}]]; // 세션에서 사용자 ID를 가져오는 방법

            if (stompClient && stompClient.connected && currentRoomId && content.trim().length > 0) {
                stompClient.send("/app/chat.sendMessage", {},
                    JSON.stringify({
                        'senderId': senderId,
                        'chatRoomId': currentRoomId,
                        'content': content
                    })
                );
                document.getElementById('messageInput').value = '';
            } else {
                console.log('STOMP client is not connected or no room selected');
            }
        }

        function showMessage(message, previousDate, messagesDiv) {
            const messageElement = document.createElement('div');

            const messageDate = formatDate(message.timestamp);

            if (previousDate !== messageDate) {
                insertDateSeparator(messageDate, messagesDiv);
            }

            let time = formatTime(message.timestamp);

            if (message.senderId !== [[${session.employee.getEmployeeId()}]]) {
                // 상대방의 메시지
                messageElement.innerHTML = `
        <div style="margin-bottom: 5px;">
            <span>${message.senderDepartment} ${message.senderRank} ${message.senderName}</span>
        </div>
        <div class="incoming_msg">
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>${message.content}</p>
                    <span class="received_sent_time_date">${time}</span>
                </div>
            </div>
        </div>
    `;
            } else {
                // 내 메시지
                messageElement.innerHTML = `
        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>${message.content}</p>
                <span class="sent_time_date">${time}</span>
            </div>
        </div>
    `;
            }

            messagesDiv.appendChild(messageElement);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;

            return messageDate; // 현재 메시지의 날짜를 반환
        }

        function joinRoom(roomId, roomName) {
            currentRoomId = roomId;
            document.getElementById('room-name').textContent = roomName;

            if (currentSubscription) {
                currentSubscription.unsubscribe();
            }

            loadChatHistory(roomId);

            if (stompClient && stompClient.connected) {
                currentSubscription = stompClient.subscribe(`/topic/rooms/${roomId}`, function (message) {
                    const messagesDiv = document.getElementById('chat-room-messages');
                    previousDate = showMessage(JSON.parse(message.body), previousDate, messagesDiv); // previousDate 업데이트
                });
            } else {
                console.log('STOMP client is not connected');
            }
        }

        function leaveRoom() {
            let participantId = [[${session.employee.getEmployeeId()}]];
            let chatRoomId = currentRoomId;

            fetch(`/chatrooms/${chatRoomId}/participants/${participantId}`, {
                method: 'DELETE',
            })
                .then(response => {
                    if (response.ok) {
                        location.reload(true);
                    } else {
                        console.error('Failed to leave the room');
                    }
                })
                .catch(error => console.error('Error leaving the room:', error));
        }

        function formatTime(time) {
            // 타임스탬프 문자열을 Date 객체로 변환
            let date = new Date(time);

            // Date 객체가 유효한지 확인
            if (isNaN(date.getTime())) {
                console.error("Invalid date format:", time);
                return "Invalid time"; // 에러 처리
            }

            // 시간과 분을 추출
            let hours = date.getHours();
            let minutes = date.getMinutes();

            // 오전/오후를 결정
            let period = hours >= 12 ? '오후' : '오전';

            // 12시간 형식으로 변환
            hours = hours % 12 || 12; // 시간은 12시간제로 변환 (0시 -> 12시)

            // 분을 2자리로 포맷
            minutes = minutes < 10 ? '0' + minutes : minutes;

            // 포맷된 시간 문자열 생성
            let formattedTime = `${period} ${hours}시 ${minutes}분`;
            return formattedTime;
        }

        function formatDate(date) {
            return new Date(date).toLocaleDateString('ko-KR', {
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
                weekday: 'long'
            });
        }

        function insertDateSeparator(date, messagesDiv) {
            const dateSeparator = document.createElement('div');
            dateSeparator.style.textAlign = 'center';
            dateSeparator.style.margin = '10px 0';
            dateSeparator.style.color = '#666';
            dateSeparator.style.fontSize = '14px';
            dateSeparator.innerHTML = `< ${date} >`;
            messagesDiv.appendChild(dateSeparator);
        }

        document.addEventListener('DOMContentLoaded', function () {
            connect();
        });
    </script>

</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header chat-header d-flex justify-content-between align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" data-bs-toggle="collapse" data-bs-target="#chatListContainer" style="cursor: pointer;">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                        채팅 목록
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16" data-bs-toggle="modal" data-bs-target="#newChatModal">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </div>
                    <div class="collapse show" id="chatListContainer">
                        <ul class="list-group list-group-flush" id="chatList">
                            <!-- 채팅 목록이 여기에 표시됩니다 -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header chat-header" style="display: flex; justify-content: space-between; align-items: center;">
                        <span id="room-name"></span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                             fill="currentColor" class="bi bi-list dropdown-toggle" viewBox="0 0 16 16"
                             id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"
                             style="cursor: pointer; margin-left: auto;">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <button class="dropdown-item" type="button"
                                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                        aria-controls="offcanvasRight">
                                    참여자
                                </button>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#" onclick="leaveRoom()">나가기</a></li>
                        </ul>
                    </div>

                    <!-- 오픈 캔버스-->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasRightLabel"><b>참여자 (5)</b></h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <hr>
                        <div class="offcanvas-body">
                            <button class="form-control" style="margin-bottom: 15px;">초대하기</button>
                            <div>
                                <p class="role-text"><b>관리자 (2)</b></p>
                                <div class="member-list">
                                    <img src="https://image.fmkorea.com/files/attach/new/20180303/33854530/659995903/964818286/fa8c9e743fe1fa1c31be23523b882465.jpg" alt="" class="member-img">
                                    <div style="display: flex; flex-direction: column;">
                                        <span><b>이은결</b> 매니저</span>
                                        <span style="color: gray; font-size: 14px;">중앙 HTA 매니저</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"
                                         id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                         style="cursor: pointer; margin-left: auto;">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">내보내기</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 지정</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 해제</a></li>
                                    </ul>
                                </div>
                                <hr style="color: #E5E5E5">
                                <div class="member-list">
                                    <img src="https://image.fmkorea.com/files/attach/new/20180303/33854530/659995903/964818286/fa8c9e743fe1fa1c31be23523b882465.jpg" alt="" class="member-img">
                                    <div style="display: flex; flex-direction: column;">
                                        <span><b>승진</b> 과장</span>
                                        <span style="color: gray; font-size: 14px;">~~~ 팀</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"
                                         id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                         style="cursor: pointer; margin-left: auto;">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">내보내기</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 지정</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 해제</a></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <p class="role-text"><b>사원 (2)</b></p>
                                <div class="member-list">
                                    <img src="https://image.fmkorea.com/files/attach/new/20180303/33854530/659995903/964818286/fa8c9e743fe1fa1c31be23523b882465.jpg" alt="" class="member-img">
                                    <div style="display: flex; flex-direction: column;">
                                        <span><b>김영희</b> 과장</span>
                                        <span style="color: gray; font-size: 14px;">영업 1팀</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"
                                         id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                         style="cursor: pointer; margin-left: auto;">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">내보내기</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 지정</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 해제</a></li>
                                    </ul>
                                </div>
                                <hr style="color: #E5E5E5">
                                <div class="member-list">
                                    <img src="https://image.fmkorea.com/files/attach/new/20180303/33854530/659995903/964818286/fa8c9e743fe1fa1c31be23523b882465.jpg" alt="" class="member-img">
                                    <div style="display: flex; flex-direction: column;">
                                        <span><b>김철수</b> 부장</span>
                                        <span style="color: gray; font-size: 14px;">마케팅 3팀</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"
                                         id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                         style="cursor: pointer; margin-left: auto;">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">내보내기</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 지정</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 해제</a></li>
                                    </ul>
                                </div>
                                <hr style="color: #E5E5E5">
                                <div class="member-list">
                                    <img src="https://image.fmkorea.com/files/attach/new/20180303/33854530/659995903/964818286/fa8c9e743fe1fa1c31be23523b882465.jpg" alt="" class="member-img">
                                    <div style="display: flex; flex-direction: column;">
                                        <span><b>이지훈</b> 대리</span>
                                        <span style="color: gray; font-size: 14px;">개발 1팀</span>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                         fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16"
                                         id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"
                                         style="cursor: pointer; margin-left: auto;">
                                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                                    </svg>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="#">내보내기</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 지정</a></li>
                                        <li><a class="dropdown-item" href="#">관리자 해제</a></li>
                                    </ul>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                    <div class="card-body chat-box" id="chat-room-messages" style="height: 700px; overflow-y: auto;">
                        <!-- 메시지들이 여기에 표시됩니다 -->
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <textarea class="form-control" id="messageInput" cols="30" rows="3" placeholder="메시지를 입력하세요..."></textarea>
                            <button class="btn btn-dark" type="button" onclick="sendMessage()">보내기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 새로운 채팅 모달 -->
    <div class="modal fade" id="newChatModal" tabindex="-1" aria-labelledby="newChatModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newChatModalLabel">새 채팅방 만들기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group" style="margin: 10px 0 10px 0;">
                        <select class="form-select" id="inputGroupSelect">
                            <option value="title" selected>전체</option>
                            <option value="writer">부서</option>
                            <option value="content">사원</option>
                        </select>
                        <input type="text" id="searchInput" class="form-control" style="width: 60%;" placeholder="부서 혹은 사원을 검색하세요..." oninput="searchPeople()">
                    </div>
                    <ul class="list-group" id="searchResults">
                        <!-- 검색 결과가 여기에 표시됩니다 -->
                    </ul>

                    <div style="margin: 10px 0 10px 0;">
                        <span class="badge bg-success">영업 <span style="font-size: 15px; font-weight: bold; cursor: pointer;">&times;</span></span>
                        <span class="badge bg-success">개발 <span style="font-size: 15px; font-weight: bold; cursor: pointer;">&times;</span></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createChatRoom()">채팅방 생성</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
