<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: Tables */-->
<div class="card mb-4" th:fragment="tables">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        휴가 보유/사용 현황
    </div>

    <div class="card-body">
        <table id="vacationStatus" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>이름</th>
                <th>사번</th>
                <th>부서</th>
                <th>직급</th>
                <th>잔여연차</th>
                <th>병가 사용 일수</th>
                <th>기타 사용 일수</th>
            </tr>
            </thead>


            <tbody>
            <!--/* 상세 보기 이동 시 onclick 이벤트 핸들러로 Javascript 함수 추가 */-->
            <th:block th:if="${vacationHistoryList == null} or ${vacationHistoryList.size() == 0}">
                <tr>
                    <td style="text-align: center">신청 내역 없음</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </th:block>

            <th:block th:unless="${vacationHistoryList == null} or ${vacationHistoryList.size() == 0}">

                <tr th:each="dto : ${vacationHistoryList}">
                    <td th:text="${dto.name}">사원 이름</td>
                    <td th:text="${dto.employeeId}">사번</td>
                    <td th:text="${dto.departmentName}">부서</td>
                    <td th:text="${dto.rankName}">직급</td>
                    <td th:text="${dto.annualDaysUsed}">연차 사용 일수</td>
                    <td th:text="${dto.sickDaysUsed}">병가 사용 일수</td>
                    <td th:text="${dto.otherDaysUsed}">기타 사용 일수</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

