<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: Tables */-->
<div class="card mb-4" th:fragment="tables">

    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        휴가 보유/사용 현황
    </div>

    <div class="card-body">
        <table id="vacationStatus" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>이름</th>
                <th>사번</th>
                <th>부서</th>
                <th>직급</th>
                <th>잔여연차</th>
                <th>병가 사용 일수</th>
                <th>기타 사용 일수</th>
            </tr>
            </thead>


            <tbody>
            <!--/* 상세 보기 이동 시 onclick 이벤트 핸들러로 Javascript 함수 추가 */-->
            <th:block th:if="${vacationRequestList == null} or ${vacationRequestList.size() == 0}">
                <tr>
                    <td style="text-align: center">신청 내역 없음</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </th:block>

            <th:block th:unless="${vacationRequestList == null} or ${vacationRequestList.size() == 0}">

                <tr onclick="openModal(this)" data-bs-toggle="modal" data-bs-target="#vacationRequestModify" th:each="dto : ${vacationRequestList}"
                    th:data-employee-name="${session.employee.employeeName}"
                    th:data-period="|${dto.startDate} ~ ${dto.endDate}|"
                    th:data-type-name="${dto.vacationType.description}"
                    th:data-type="${dto.vacationType}"
                    th:data-attachment="${dto.fileList.size > 0 ? '첨부 파일 있음' : '첨부 파일 없음'}"
                    th:data-status-name="${dto.status.description}"
                    th:data-status="${dto.status}"
                    th:data-contents="${dto.contents}">


                    <td th:text="${session.employee.employeeName}">사원 이름</td>
                    <td th:text="|${dto.startDate} ~ ${dto.endDate}|">사용 기간</td>
                    <td th:text="${dto.vacationType.description}">종류</td>
                    <td th:text="${dto.fileList.size>0}? '첨부 파일 있음' : '첨부 파일 없음'">증명자료</td>
                    <td th:text="${dto.status.description}">승인</td>
                    <td onclick="">삭제버튼</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

