<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout::layout}">

<th:block th:fragment="style">
      <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
</th:block>

<div th:fragment="contnet">
      <div class="row">
            <h5>휴가 등록</h5>
            <hr>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">연차</h5>
                              <p class="card-text">6일</p>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">연차</h5>
                              <p class="card-text">6일</p>
                              <a href="#" class="btn btn-primary">신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">연차</h5>
                              <p class="card-text">6일</p>
                              <a href="#" class="btn btn-primary">신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
      </div>
      <div>
            <h5>예정 휴가</h5>
            <hr>
            <table class="table">
                  <thead>
                  <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                  </tr>
                  <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                  </tr>
                  <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                  </tr>
                  </tbody>
            </table>
      </div>

      <!--/* Section: Tables 예시 */-->
      <div th:replace="kah/fragments/vacation_requests.html::tables" ></div>


      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                  <div class="modal-content">
                        <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">@@@님의 휴가 요청</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <h6 class="container">2022-11-11 12:12</h6>
                        <div class="modal-body">

                              <h5>사용 가능 연차</h5>
                              <span>6일</span>
                              <h5>휴가 일정 & 필요 정보 입력</h5>
                              <label for="start">시작일</label><input type="date" name="" id="start">
                              <label for="end">종료일</label><input type="date" name="" id="end">
                              <label>
                                    <textarea placeholder="휴가 등록 메세지 입력"></textarea>
                              </label>
                        </div>
                        <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                  </div>
            </div>
      </div>
</div>

<th:block th:fragment="srcLinks">
      <!--/* Add External link 필요한 추가 링크는 여기에... */-->
      <!--/* ===== 링크 예시 ===== */-->

      <!--/* Chart Graph */-->
      <!--<script src="/js/chart/chart-area-demo.js"></script>-->
      <!--<script src="/js/chart/chart-bar-demo.js"></script>-->

      <!--/* Card */-->
      <!--<script src="/js/cards/chart-pie-demo.js"></script>-->

      <!--/* Table */-->
      <!--<script src="/js/tables/datatables-demo.js"></script>-->
</th:block>
</html>