version: '3.8'
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"

  web:
#    build:
#      context: .
#      dockerfile: Dockerfile
    image: app
    container_name: web
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - redis
    environment:
      - coolsms.encryptor.key.property=${KEY_PROPERTY}
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - SPRING_DATA_REDIS_PASSWORD=groupworks

networks:
  default:
    driver: bridge