<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout::layout}">

<th:block th:fragment="style">
    <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
    <style>
        .file-list {
            margin-top: -6px;
            height: 200px;
            overflow: auto;
            border: 1px solid #989898;
            padding: 10px;
        }
        .file-list .filebox p {
            font-size: 14px;
            margin-top: 10px;
            display: inline-block;
        }
        .file-list .filebox .delete i{
            color: #ff5353;
            margin-left: 5px;
        }
    </style>
</th:block>

<th:block th:fragment="contnet">
    <!--/* !필수 Contents */-->
    <!--/* 여기에 메인 코드를 채워주세요... 스타일은 반드시 부트스트랩 class... */-->
    <!--/* Front 에서 보이지 않는 주석
            th:replace : 해당 구분으로 감싼 태그로 코드 대체 (태그를 대체)
            th:insert : 해당 구문으로 감싼 태그로 삽입(태그 안에 추가)
    */-->

    <!--/*@thymesVar id="workFlowDto" type="kr.co.groupworks.dto.workflow.WorkFlowDTO"*/-->
    <form class="row g-3 needs-validation" th:action="@{/work-flow/request-ok}" th:object="${workFlowDto}"
        enctype="multipart/form-data" method="post" novalidate
    >
<!--                  onSubmit="return false; " >-->


        <!--/* 결재 구분 */-->
        <div class="input-group mb-3"  style="width: 500px;">
            <label class="input-group-text" for="category">결재 구분</label>
            <select class="form-select" id="category" th:field="*{workFlowType}" required>
                <option selected disabled value="">결재분류를 선택하세요.</option>
                <option value="1">업무 결재</option>
                <option value="2">재무 결재</option>
                <option value="3">예산 결재</option>
                <option value="4">구매 결재</option>
                <option value="5">보고 결재</option>
                <option value="6">특별 결재</option>
            </select>
<!--                    <input type="hidden" id="type" th:field="*{type}">-->
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">결재 번호</span>
            <label for="docsNum" class="">
                <input type="hidden" th:field="*{id}">
                <input class="form-control prevent-enter-submit" id="docsNum" type="text" th:field="*{code}" size="40" disabled readonly>
            </label>

            <span class="input-group-text">기안날짜</span>
            <label for="draft-date">
                <input type="datetime-local" class="form-control" id="draft-date" th:field="*{draftDate}"
                    placeholder="기안일" aria-label="기안일" aria-describedby="basic-addon2" required>
            </label>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">결재 제목</span>
            <input type="text" class="form-control prevent-enter-submit" th:field="*{title}"
                placeholder="결재 제목을 입력해주세요." aria-label="결재 제목을 입력해주세요." required>
        </div>

        <!--/* 결재선 */-->
        <div class="input-group">
            <div class="mb-3">
                <label for="search" class="form-label">결재선 선택</label>
                <div class="dropdown input-group">
                    <span class="input-group-text" id="basic-addon1">결재자</span>
                    <input style="width: 400px;" id="search" type="text"
                        class="form-control dropdown-toggle prevent-enter-submit"
                        data-bs-toggle="dropdown" aria-expanded="false"
                        placeholder="사원명 또는 부서명 또는 직함를 입력해주세요." aria-label="사원명 또는 부서명 또는 직함를 입력해주세요."
                        aria-describedby="basic-addon3 basic-addon4">

                    <!--/* 추천 키워드 */-->
                    <ul class="dropdown-menu overflow-auto" style="height: 200px;"></ul>

                    <button id="add-member" class="btn btn-outline-secondary" type="button">결재자로 추가</button>
                    <button id="add-member2" class="btn btn-outline-secondary" type="button">협조자로 추가</button>
                    <button id="add-member3" class="btn btn-outline-secondary" type="button">참조자로 추가</button>
                </div>
                <br>

                <div class="input-group">
                    <div class="mb-3">
                        <label class="form-label">결재선</label>
                        <div class="form-text">결재자는 해당 결재를 승인하는 대상입니다.</div>
                        <ul style="width: 450px;" class="list-group border" id="approval-line"></ul>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">협조선</label>
                        <div class="form-text">협조자는 해당 결재 내용을 시행하는 담당자입니다.</div>
                        <ul style="width: 450px;" class="list-group border" id="collaborator-line"></ul>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">결재 참조선</label>
                        <div class="form-text">결재 참조자는 해당 결재 내용을 열람만 할 수 있습니다.</div>
                        <ul style="width: 450px;" class="list-group border" id="referrer-line"></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="input-group">
            <span class="input-group-text">결재 내용</span>
            <textarea class="form-control" id="description" name="description" th:field="*{description}"
                rows="10" placeholder="결재 내용을 입력하세요." aria-label="결재 내용을 입력하세요."
                style="resize: none;" required>
            </textarea>
        </div>

        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text">비용</span>
                <input type="text" class="form-control prevent-enter-submit" id="cost" name="cost" th:field="*{cost}"
                    aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">\</span>
            </div>
            <div class="form-text">필요 시 작성하세요.</div>
        </div>
        <div class="input-group mb-3">
            <input type="file" class="form-control" id="files" onchange="addFile(this);" multiple>
            <button class="btn btn-outline-secondary" type="button" onclick="resetFile()">초기화</button>
        </div>
        <div id="file-list"></div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit" onclick="submitForm();">결재 요청</button>
        </div>
    </form>
</th:block>

<th:block th:fragment="srcLinks">
    <!--/* Add External link 필요한 추가 링크는 여기에... */-->
    <script>
        const userNum = "[[${session.employee.employeeId}]]";
        const deptNum = "[[${session.employee.departmentId}]]";
        const tabNames = ["#category", "#draft-date"];

        $(() => {
            documentNumbering();
            disableEnterSubmit();
        });

        /* 문서 번호 정하기 */
        function documentNumbering() {
            $("#docsNum").val(userNum + deptNum + " - ");

            for (const item of tabNames) {
                $(item).mouseout(function () {
                    let suffix = $("#category option:selected").val() + " - ";
                    suffix += $("#draft-date").val().replaceAll("-","").replace("T","").replace(":","");
                    $("#docsNum").val(userNum + deptNum + " - " + suffix);
                });
            }
        }

        /* 엔터 키 전송 막기 */
        function disableEnterSubmit() {
            $('.prevent-enter-submit').on('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                }
            });
        }
    </script>
    <script src="/js/add-line.js"></script>
    <script src="/js/file-select.js"></script>
</th:block>
