<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<th:block layout:fragment="css">
    <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
</th:block>

<th:block layout:fragment="content">
    <!--/* !필수 Contents */-->
    <!--/* 여기에 메인 코드를 채워주세요... 스타일은 반드시 부트스트랩 class... */-->
    <!--/* Front 에서 보이지 않는 주석
        th:replace : 해당 구분으로 감싼 태그로 코드 대체 (태그를 대체)
        th:insert : 해당 구문으로 감싼 태그로 삽입(태그 안에 추가)
    */-->

    <!--/* approvalWait Table */-->
    <div th:replace="~{/workflow/approvetables/approvedList :: approvedList}"></div>
<!--    <div th:replace="/workflow/approvalWaitList.html :: approvalWaitList"></div>-->
    <div th:replace="~{/workflow/approvetables/myRequestList.html :: MyRequestList}"></div>
    <div th:replace="~{/workflow/approvetables/myRequestWaitList.html :: MyRequestWaitList}"></div>
</th:block>

<th:block layout:fragment="javascript">
    <script>
        function load() {
            window.location = "request";
        }
    </script>
    <!--/* Add External link 필요한 추가 링크는 여기에... */-->
    <!--/* Table */-->
    <script src="/js/tables/approval-tables.js"></script>
</th:block>
