<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <!--/* approvalWait Table */-->
    <div th:replace="~{/workflow/approvalwaittables/approvalWait.html :: approvalWait}"></div>
    <div th:replace="~{/workflow/approvalwaittables/approvedList.html :: approvedList}"></div>
    <div th:replace="~{/workflow/approvalwaittables/rejectionList.html :: rejectionList}"></div>
</th:block>

<th:block layout:fragment="javascript">
    <script>
        function load() {
            window.location = "request";
        }
    </script>
    <!--/* Wait List Tables js */-->
    <script src="/js/workflow/tables/approval-history-tables.js"></script>
</th:block>
