<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout::layout}">

<th:block th:fragment="style">
    <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
</th:block>

<th:block th:fragment="contnet">
<!--/* !필수 Contents Start */-->
    <!--/* !필수 Contents */-->
    <!--/* 여기에 메인 코드를 채워주세요... 스타일은 반드시 부트스트랩 class... */-->
    <!--/* Front 에서 보이지 않는 주석
           th:replace : 해당 구분으로 감싼 태그로 코드 대체 (태그를 대체)
           th:insert : 해당 구문으로 감싼 태그로 삽입(태그 안에 추가)
    */-->
    <div th:replace="/workflow/approvedList.html :: approvedList"></div>
    <div th:replace="/workflow/myRequestWaitList.html :: MyRequestWaitList"></div>
</th:block>

<th:block th:fragment="srcLinks">
    <!--/* Add External link 필요한 추가 링크는 여기에... */-->
    <script src="/js/tables/appoval-wait-tables.js"></script>
</th:block>