<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="workFlowSideMenu">
    <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#pagesCollapseActive" aria-expanded="false" aria-controls="pagesCollapseActive">
        <div class="sb-nav-link-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
            </svg>
        </div>전자결재
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>
    <div class="collapse" id="pagesCollapseActive" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" href="/work-flow/request">결재 요청</a>
            <a class="nav-link" href="/work-flow/approval-history">결재 발송 내역</a>
            <a class="nav-link" href="/work-flow/stat">결재 현황</a>
            <a class="nav-link" href="/work-flow/wait">결재 승인</a>
            <a class="nav-link" href="/work-flow/referr">결재 참조/협조</a>
        </nav>
    </div>
</th:block>
</html>