<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="halfModal">
    <form method="post" action="/vacation/half" id="halfForm" th:object="${halfForm}">
        <div class="modal fade" id="half" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="halfLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="halfLabel" th:text="|${session.employee.employeeName} 님의 반차 요청|">@@@님의 반차 요청</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body container">
                        <h6>사용 가능 반차</h6>
                        <div>6일</div>
                        <br>

                        <h6>휴일 일정</h6>
                        <!--오전 오후 -->
                        <div class="form-check" th:each="period, iterStat : ${amPms}">
                            <input class="form-check-input" type="radio" th:field="*{amPm}" th:value="${period.name()}">
                            <label class="form-check-label" th:for="${#ids.prev('amPm')}" th:text="${period.name}">
                                오전
                            </label>
                        </div>

                        <div class="halfDate">
                            <input type="text" placeholder="Select Date.." data-input th:field="*{halfStartDate}"> <!-- input is mandatory -->

                            <a class="input-button" title="toggle" data-toggle>
                                <i class="icon-calendar"></i>
                            </a>

                            <a class="input-button" title="clear" data-clear>
                                <i class="icon-close"></i>
                            </a>
                        </div>
                        <br>
                        <label for="halfContents">상세 내용</label>
                        <textarea class="form-control" th:field="*{halfContents}" placeholder="휴가 등록 메세지 입력"></textarea>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="halfBtn">신청</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        $(function (){
            $("#halfBtn").on("click", function (e) {
                e.preventDefault(); // 기본 submit 동작을 막음

                let startDate = $("#halfStartDate").val();
                let amPm = $("input[name='amPm']:checked").val();
                let contents = $("#halfContents").val();

                // 결과 출력 (디버깅용)
                console.log("startDate: ", startDate);
                console.log("amPm: ", amPm);
                console.log("contents: ", contents);

                $.ajax({
                    url: '/vacation/half',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        halfStartDate: startDate,
                        amPm: amPm,
                        halfContents: contents,
                    }),
                    success: function(response) {
                        console.log("Success:", response);
                        $('#half').modal('hide');
                        location.reload();
                    },
                    error: function(xhr) {
                        if (xhr.status === 400) {
                            let errorResult = xhr.responseJSON;
                            let errorMessage = errorResult.message + '\n';
                            if (errorResult.fieldErrors) {
                                errorMessage += "\n";
                                for (let field in errorResult.fieldErrors) {
                                    errorMessage += field + ': ' + errorResult.fieldErrors[field] + '\n';
                                }
                            }
                            alert("Errors:\n" + errorMessage);
                        } else {
                            alert("다시 시도해주세요");
                        }
                    }
                });
            });

        });
    </script>


</th:block>