<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sickModal">
    <div class="modal fade" id="sick" th:object="${sickForm}"
         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sickLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="sickLabel">@@@님의 병가 요청</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <h5>병가 일정</h5>
                    <input type="text" id="vSickDate" placeholder="Select Date.." class="form-control vacationDate">
                    <input type="hidden" th:field="*{sickStartDate}">
                    <input type="hidden" th:field="*{sickEndDate}">
                    <br>

                    <h5>상세 사유</h5>
                    <textarea class="form-control" th:field="*{sickContents}" placeholder="병가 사유 입력"></textarea>

                    <br>
                    <h5>첨부 파일</h5>
                    <td><input type="file" name="fileupload" class="form-control" multiple></td>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">신청</button>
                </div>
            </div>
        </div>
    </div>
</th:block>