<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout::layout}">

<th:block th:fragment="style">
      <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
</th:block>

<p th:fragment="contnet">
      <!--/* !필수 Contents */-->
      <!--/* 여기에 메인 코드를 채워주세요... 스타일은 반드시 부트스트랩 class... */-->
      <!--/* Front 에서 보이지 않는 주석
             th:replace : 해당 구분으로 감싼 태그로 코드 대체 (태그를 대체)
             th:insert : 해당 구문으로 감싼 태그로 삽입(태그 안에 추가)
      */-->

      <!--/* 참조 코드 예시 */-->
      <!--/* Contents Cards 예시 */-->
      <!--      <div th:replace="smaple/cards::cards" ></div>-->

      <!--/* Section: Chart 예시 */-->
      <!--      <div th:replace="smaple/charts::charts" ></div>-->

      <!--/* Section: Tables 예시 */-->
      <!--      <div th:replace="smaple/tables::tables" ></div>-->

      layout 을 미리 구성하여 Content 파일 경로를 넘겨서 해당 파일을 불러와서 내용을 대체하는 방식도 가능
</p>

<th:block th:fragment="srcLinks">
      <!--/* Add External link 필요한 추가 링크는 여기에... */-->
      <!--/* ===== 링크 예시 ===== */-->

      <!--/* Chart Graph */-->
      <!--<script src="/js/chart/chart-area-demo.js"></script>-->
      <!--<script src="/js/chart/chart-bar-demo.js"></script>-->

      <!--/* Card */-->
      <!--<script src="/js/cards/chart-pie-demo.js"></script>-->

      <!--/* Table */-->
      <!--<script src="/js/tables/datatables-demo.js"></script>-->
</th:block>
</html>