<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>

<body>
<th:block layout:fragment="css">
    <!-- 글쓰기 CSS -->
    <link href="/css/board/board-write.css" rel="stylesheet" type="text/css"/>

    <style>
        .custom-btn {
            background-color: white; /* 배경색 */
            color: #646982; /* 텍스트 색상 */
            border: 1px solid #B9BDD3; /* 테두리 */
            border-radius: 3px; /* 테두리 둥글기 */
            padding: 5px 10px; /* 내부 여백 */
            font-size: 12px; /* 폰트 크기 */
            cursor: pointer; /* 마우스 커서 */
        }
        .custom-btn:hover {
            background-color: white; /* 마우스 호버 시 배경색 변경 */
            border-color: #B9BDD3; /* 마우스 호버 시 테두리 색 변경 */
            color: black; /* 마우스 호버 시 텍스트 색상 변경 */
            font-weight: bold; /* 마우스 호버 시 Bold 로 보여주기 */
        }
        .text-bg-custom {
            background: #343a40;
        }
    </style>
</th:block>

<th:block layout:fragment="javascript">
    <script>
        $(document).ready(function () {
            /* 댓글이동 */
            $('#comment-count').on('click', function () {
                let offset=$("#comment-list").offset();
                $('html, body').animate(
                    {
                        scrollTop:offset.top - 70,
                    },0
                );
            });

            /* 상단이동 */
            $('#up-button').on('click', function (){
                $('html, body').animate(
                    {
                        scrollTop: 0,
                    },0
                );
            });

            /* 하단이동 */
            $('#down-button').on('click', function (){
                $('html, body').animate(
                    {
                        scrollTop: $(document).height() - $(window).height(),
                    },0
                );
            });

            // 글수정 버튼 클릭
            $('#comment-edit').on('click', function () {
                $("#comment-form").hide();
                $("#edit-form").show();
            });
            // 글수정 취소 버튼 클릭
            $('#edit-cancel').on('click', function () {
                $("#comment-form").show();
                $("#edit-form").hide();
            });
            // 답변 버튼
            $('#relay-btn').on('click', function () {
                $('#relay-form').show();
            });
            // 답변취소
            $('#relay-cancel').on('click', function () {
                $('#relay-form').hide();
            });
        });
    </script>
</th:block>

<th:block layout:fragment="content" th:with="boardType=${title == '공지 게시판'} ? 'notice' : ${session.employee.departmentId}">
    <div class="container" style="margin: 0 auto; width: 70%">
        <div id="titlePreview">
            <h5><span class="badge text-bg-danger">오류</span> <span>오류발생했어요.</span></h5>
        </div>
        <div id="writerPreview">
            <div>
                <b>작성자</b> : 인턴 개미(세션에서 꺼내온 데이터로 나중에 변경)
            </div>
        </div>
        <div id="datePreview" style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <b>작성일</b> : 2024-07-17 오후 4:14:33
            </div>
            <div>
                <span class="badge rounded-pill text-bg-custom">조회수 214,489</span>
                <span class="badge rounded-pill text-bg-custom" id="comment-count" style="cursor: pointer;">댓글 120</span>
            </div>
        </div>
        <hr>
        <div id="contentPreview" style="margin: 10px 0 150px 0;">
            <!-- 첨부파일 -->
            <div style="text-align: right;" id="attachFileList">
                <span data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                    </svg>
                    첨부파일
                </span>
                <!-- 다운로드 -->
                <div class="collapse" id="collapseExample"
                     style="margin: 10px; position: absolute; right: 14%; transform: translateX( 5% );">
                    <div class="card card-body" id="preview-file">
                        <span>test.txt | <a href="#">다운로드</a></span>
                        <span>test.pdf | <a href="#">다운로드</a></span>
                        <span>test.png | <a href="#">다운로드</a></span>
                        <span>test.csv | <a href="#">다운로드</a></span>
                        <span>test.jpg | <a href="#">다운로드</a></span>
                    </div>
                </div>
            </div>

            <!-- 게시판내용 -->
            <span>게시판 오류발생했습니다.</span>
        </div>
        <hr>
        <div>
            <h5 id="comment-list">댓글 - 5개</h5>
            <div th:each="i : ${#numbers.sequence(1, 2)}">
                <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin: 10px 0 10px 0; background: #F8FAFB">
                    <div>
                        <strong>ADMIN</strong>
                        <span >작성일 : 2024-07-17 오후 4:14:33</span>
                    </div>
                    <div id="comment-form">
                        수정되었습니다.
                    </div>
                    <div id="edit-form" style="display: none;">
                        <textarea class="form-control" name="" id="" cols="10" rows="5">수정되었습니다.</textarea>
                        <div style="margin-top: 10px;">
                            <input type="button" class="btn custom-btn" value="댓글수정">
                            <input type="button" class="btn custom-btn" id="edit-cancel" value="수정취소">
                        </div>
                    </div>
                    <div id="relay-form" style="display: none; margin-left: 20px">
                        <span>└답변</span>
                        <textarea class="form-control " name="" id="" cols="10" rows="5"></textarea>
                        <div style="margin-top: 10px;">
                            <input type="button" class="btn custom-btn" value="답변작성">
                            <input type="button" class="btn custom-btn" id="relay-cancel" value="답변취소">
                        </div>
                    </div>
                    <div style="text-align: right">
                        <input type="button" class="btn custom-btn" id="relay-btn" value="답변">
                        <input type="button" class="btn custom-btn" id="comment-edit" value="수정">
                        <a href="#" class="btn custom-btn">삭제</a>
                    </div>
                </div>
            </div>

            <div>
                <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin: 5px 0 5px 0; background: #F8FAFB">
                    <div>
                        <strong>TEST@@</strong>
                        <span>작성일 : 2024-07-17 오후 4:14:33</span>
                    </div>
                    <div id="comment-form">
                        수정되었습니다.
                    </div>
                    <div id="edit-form" style="display: none;">
                        <textarea class="form-control" name="" id="" cols="10" rows="5">대댓글 UI TEST</textarea>
                        <div style="margin-top: 10px;">
                            <input type="button" class="btn custom-btn" value="댓글수정">
                            <input type="button" class="btn custom-btn" id="edit-cancel" value="수정취소">
                        </div>
                    </div>
                    <div id="relay-form" style="display: none; margin-left: 10px">
                        <span>└답변</span>
                        <textarea class="form-control " name="" id="" cols="10" rows="5"></textarea>
                        <div style="margin-top: 10px;">
                            <input type="button" class="btn custom-btn" value="답변작성">
                            <input type="button" class="btn custom-btn" id="relay-cancel" value="답변취소">
                        </div>
                    </div>
                    <div style="text-align: right">
                        <input type="button" class="btn custom-btn" id="relay-btn" value="답변">
                        <input type="button" class="btn custom-btn" id="comment-edit" value="수정">
                        <a href="#" class="btn custom-btn">삭제</a>
                    </div>
                </div>
                <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin: 5px 0px 5px 50px; background: #F8FAFB">
                    <div>
                        <strong>┗답변테스트</strong>
                        <span>작성일 : 2024-07-17 오후 4:14:33</span>
                    </div>
                    <div style="margin-left: 16px;">
                        댓글테스트
                    </div>
                    <div style="text-align: right">
                        <input type="button" class="btn custom-btn" id="relay-btn" value="답변">
                        <input type="button" class="btn custom-btn" id="comment-edit" value="수정">
                        <a href="#" class="btn custom-btn">삭제</a>
                    </div>
                </div>
                <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin: 5px 0px 5px 50px; background: #F8FAFB">
                    <div>
                        <strong>┗답변테스트</strong>
                        <span>작성일 : 2024-07-17 오후 4:14:33</span>
                    </div>
                    <div style="margin: 0 16px 0 16px;">
                        댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트댓글테스트
                    </div>
                    <div style="text-align: right">
                        <input type="button" class="btn custom-btn" id="relay-btn" value="답변">
                        <input type="button" class="btn custom-btn" id="comment-edit" value="수정">
                        <a href="#" class="btn custom-btn">삭제</a>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div style="border: 1px solid gray; border-radius: 5px; padding: 10px; margin: 10px 0 10px 0; background: #F8FAFB">
                <div>
                    <strong>ADMIN</strong>
                    <span>작성일 : 2024-07-17 오후 4:14:33</span>
                </div>
                <div id="comment-form">
                    수정되었습니다.
                </div>
                <div id="edit-form" style="display: none;">
                    <textarea class="form-control" name="" id="" cols="10" rows="5">수정되었습니다.</textarea>
                    <div style="margin-top: 10px;">
                        <input type="button" class="btn custom-btn" value="댓글수정">
                        <input type="button" class="btn custom-btn" id="edit-cancel" value="수정취소">
                    </div>
                </div>
                <div id="relay-form" style="display: none; margin-left: 20px">
                    <span>└답변</span>
                    <textarea class="form-control " name="" id="" cols="10" rows="5"></textarea>
                    <div style="margin-top: 10px;">
                        <input type="button" class="btn custom-btn" value="답변작성">
                        <input type="button" class="btn custom-btn" id="relay-cancel" value="답변취소">
                    </div>
                </div>
                <div style="text-align: right">
                    <input type="button" class="btn custom-btn" id="relay-btn" value="답변">
                    <input type="button" class="btn custom-btn" id="comment-edit" value="수정">
                    <a href="#" class="btn custom-btn">삭제</a>
                </div>
            </div>
        </div>

        <div>
            <span>댓글</span>
            <textarea class="form-control" name="" id="" cols="10" rows="5"></textarea>
            <div style="margin: 10px 0 10px 0; display: flex; justify-content: space-between;">
                <input type="button" class="btn custom-btn" value="댓글등록">
                <div style="display: flex; gap: 5px;">
                    <a th:href="@{|/board/${boardType}/edit|}" class="btn custom-btn">글수정</a>
                    <a th:href="@{|/board/${boardType}/delete|}" class="btn custom-btn">글삭제</a>
                </div>
            </div>
        </div>

        <div style="position: fixed; bottom: 75px; right: 40px;">
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-outline-dark btn-sm" id="up-button">▲</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="down-button">▼</button>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>