<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="calendarSideMenu">
    <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#vacationPages" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suitcase2" viewBox="0 0 16 16">
                <path d="M6.5 0a.5.5 0 0 0-.5.5V3H5a2 2 0 0 0-2 2v8a2 2 0 0 0 1.031 1.75A1.003 1.003 0 0 0 5 16a1 1 0 0 0 1-1h4a1 1 0 1 0 1.969-.25A2 2 0 0 0 13 13V5a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-.5-.5zM9 3H7V1h2zm3 10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7h8zM5 4h6a1 1 0 0 1 1 1v1H4V5a1 1 0 0 1 1-1"/>
            </svg>
        </div>휴가
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>

    <div class="collapse" id="vacationPages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion">
            <a class="nav-link collapsed" href="/vacation">
                내 휴가 관리
            </a>

            <th:block th:if="${session.employee.getRankId()>3}">
                <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#vacationTeam" aria-expanded="false" aria-controls="pagesCollapseAuth">
                    구성원 휴가 관리
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="vacationTeam" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/vacation/team">휴가 신청 내역</a>
                        <a class="nav-link" href="/vacation/team/history">휴가 보유 내역</a>
                    </nav>
                </div>
            </th:block>
        </nav>
    </div>


    <a class="nav-link collapsed" href="/calendar">
        <div class="sb-nav-link-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
            </svg>
        </div>
        캘린더
    </a>

</th:block>

