<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="card mb-4" th:fragment="vacationRequest">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        휴가 신청 내역
    </div>

    <div class="card-body">
        <table id="vacationMyHistory" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>이름</th>
                <th>사용 기간</th>
                <th>종류</th>
                <th>증명자료</th>
                <th>승인</th>
                <th>관리</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:if="${#lists.isEmpty(vacationRequestList)}">
                <tr>
                    <td style="text-align: center">신청 내역 없음</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </th:block>

            <th:block th:if="${!#lists.isEmpty(vacationRequestList)}">
                <tr th:each="dto : ${vacationRequestList}"                 >
                    <td th:text="${session.employee.employeeName}">사원 이름</td>
                    <td th:text="|${dto.startDate} ~ ${dto.endDate}|">사용 기간</td>
                    <td th:text="${dto.vacationType.description}">종류</td>
                    <td th:text="${dto.fileList.size() > 0 ? '첨부 파일 있음' : '첨부 파일 없음'}">증명자료</td>
                    <td th:text="${dto.status.description}">승인</td>
                    <td>
                        <a th:href="@{|vacation/modify/${dto.calendarId}|}" class="btn btn-primary btn-sm">신청 수정</a>
                        <button class="btn btn-danger btn-sm" th:onclick="@{|showConfirmModal(${dto.calendarId})|}">신청 취소</button>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="confirmModalLabel">휴가 신청 취소</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 취소하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">아니오</button>
                    <button type="button" class="btn btn-primary" id="confirmDelete" >예</button>
                </div>
            </div>
        </div>
    </div>



    <script>

        function showConfirmModal(calendarId) {
            $('#confirmDelete').off('click').on('click', function() {
                window.location.href = '/vacation/delete/' + calendarId;
            });
            $('#confirmModal').modal('show');
        }
    </script>
</div>



