<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="content">
    <!--/* approvalWait Table */-->
    <div th:replace="~{/ljm-workflow/approvehistorytables/approvedHistory :: approvedHistory}"></div>
    <div th:replace="~{/ljm-workflow/approvehistorytables/progressHistory.html :: progressHistory}"></div>
    <div th:replace="~{/ljm-workflow/approvehistorytables/rejectionHistory.html :: rejectionHistory}"></div>
</th:block>

<th:block layout:fragment="javascript">
    <script>
        function load() {
            window.location = "request";
        }
    </script>
    <!--/* history tables js */-->
    <script src="/js/ljm/tables/approval-history-tables.js"></script>
</th:block>
