<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>

<th:block layout:fragment="css">
    <!--/* !선택 필요한 style code 와 link 는 여기에 추가 */-->
</th:block>

<th:block layout:fragment="content">

    <div class="row"><!--/* Chart Bar */-->
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    부서별 결재 발송/승인/반려 건
                </div>
                <div class="card-body">
                    <canvas id="myBarChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
                        <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793zm1 0V7.5h6.482A7 7 0 0 0 8.5 1.018M14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8"/>
                    </svg>
                    2024년 전체 결재 발송 건 구분
                </div>
                <div class="card-body chartContainer">
                    <canvas id="myCircleChart2" width="100%" height="307"></canvas>
                </div>
            </div>
        </div>

        <!--/* Chart Area */-->
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    월 별 결재 발송/승인/반려 건
                </div>
                <div class="card-body">
                    <canvas id="myAreaChart" width="100%" height="40"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
                        <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793zm1 0V7.5h6.482A7 7 0 0 0 8.5 1.018M14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8"/>
                    </svg>
                    내 누적 결재 발송 건 구분
                </div>
                <div class="card-body chartContainer">
                    <canvas id="myCircleChart" width="100%" height="307"></canvas>
                </div>
            </div>
        </div>
    </div>


    <!--/* 부서 기안 결재 */-->
    <div class="card-header">
        <i class="bi bi-folder-fill"></i>
        <!--[[${부서명}]]--> 부서 기안 승인 결재 목록
    </div>

    <div class="card-body">
        <table id="MyApprovedTable" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>결재 번호</th>
                <th>결재 구분</th>
                <th>결재 제목</th>
                <th>
                    <div style="font-weight: bolder">기안자 : </div>
                    소속</th>
                <th>직급</th>
                <th>기안자 명</th>
                <th>기안 일</th>
                <th>최종 승인일</th>
                <th>
                    <div style="font-weight: bolder">결재자 : 최종</div>
                    소속</th>
                <th>직급</th>
                <th>결재자 명</th>
                <th>결재 여부</th>
                <th>결재 인원</th>
                <th>진행도</th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="approval" type="kr.co.groupworks.dto.ljm.dto.WorkFlowDTO"*/-->
            <tr th:onclick="load([[${list.id}]])" th:each="list : ${approval}">
                <td>[[${list.id}]]</td>
                <td>[[${list.workFlowType}]]</td>
                <td>[[${list.title}]]</td>
                <!--/* 기안자 정보 */-->
                <td>[[${list.department}]]</td>
                <td>[[${list.employeeRank}]]</td>
                <td>[[${list.employeeName}]]</td>
                <td>[[${list.draftDate}]]</td>
                <td>[[${list.approvalDate}]]</td>
                <!--/* 최종 결재자 정보 */-->
                <td>[[${list.finalApprovalRank}]]</td>
                <td>[[${list.finalApprovalDepartment}]]</td>
                <td>[[${list.finalApprovalName}]]</td>
                <td>[[${list.status}]]</td>
                <td>[[${list.approvalCount} + '/' + ${list.approverCount}]]</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success"
                             th:style="${ 'width: ' + #numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2) + '%;'}">
                            [[${#numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2)}]]%
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</th:block>

<th:block layout:fragment="javascript">
    <!--/* Add External link 필요한 추가 링크는 여기에... */-->
    <!--/* Chart */-->
    <script src="/js/ljm/chart/approval-statistics-chart.js"></script>
    <script>
        const classification = ['업무 건', '재무 건', '예산 건', '구매 건', '보고 건', '특별 건'];

        $(document).ready(function() {
            approvalStatsByDepartment(
                ["재무팀", "회계팀", "전산팀", "개발팀", "설계팀", "영업팀"],
                [4215, 8417, 6251, 5312, 9821, 14984],
                [2154, 7841, 5162, 3125, 8219, 12984],
                [1542, 4178, 2516, 1253, 2189, 9841]
            );
            MyApprovalStats(
                ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월", "13월"],
                [33259, 30162, 33259, 30274, 33451, 32651, 31274, 34984, 38451, 36162, 32651, 31984, 30451],
                [28682, 25849, 24159, 21849, 24159, 24849, 23159, 26682, 28849, 27682, 25849, 24159, 24849],
                [18394, 18682, 14000, 13394, 12287, 10000, 11591, 12394, 13940, 14839, 15394, 16394, 17394]
            );
            circle1(
                classification,
                [12, 19, 3, 5, 2, 3]
            );
            circle2(
                classification,
                [330000, 1900000, 200000, 500000, 1000000, 300000]
            );
        });
    </script>
</th:block>
