<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/videoConference/videoConferenceStyle.css">
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/tables/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>

    </script>
</th:block>

<th:block layout:fragment="content">
    <div>
        <h3>화상회의 방만들기</h3>
        <div class="btn-container">
            <!-- 룸 아이디 번호를 입력하는 input -->
            <input type="text" class="roomIdInput" id="createRoomIdInput" />
            <!-- 룸 아이디를 입력후 클릭하는 button -->
            <button type="button" class="enterRoomBtn" id="createEnterRoomBtn">채팅방 만들기</button>
            <!-- enterRoomBtn 클릭시 나타남, Streams 정보를 담은 Peer 를 웹소켓 ( 시그널링 )   -->
            <button type="button" class="startStreamsBtn" id="createStartStreamsBtn" style="display: none;">시작하기</button>
        </div>

        <h3 style="margin-top: 50px">화상회의 참여하기</h3>
        <div class="btn-container">
            <input type="text" class="roomIdInput" id="joinRoomIdInput"/>
            <button type="button" class="enterRoomBtn" id="joinEnterRoomBtn">채팅방 참여하기</button>
            <!-- enterRoomBtn 클릭시 나타남, Streams 정보를 담은 Peer 를 웹소켓 ( 시그널링 )   -->
            <button type="button" class="startStreamsBtn" id="joinStartStreamsBtn" style="display: none; ;">시작하기</button>
        </div>

    </div>



    <!-- 내 웹캠 화면을 보여주는 video html -->
    <div class="video-container">
        <video id="localStream" autoplay playsinline controls style="display: none;"></video>
        <div id="remoteStreamDiv"></div>
    </div>
    <!-- webRTC 연결을 위한 js  -->
    <script src="/js/videoConference/peerConfig.js"></script>
</th:block>
</html>