<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="videoConferenceSideMenu">
    <a class="nav-link collapsed" data-bs-toggle="collapse" data-bs-target="#videoChattingPage" aria-expanded="false" aria-controls="collapsePages">
        <div class="sb-nav-link-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2z"/>
            </svg>
        </div>화상채팅
        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
    </a>

    <div class="collapse" id="videoChattingPage" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav accordion">
            <a class="nav-link collapsed" href="/mail/write">
                화상채팅 시작하기
            </a>
        </nav>
    </div>
</th:block>
