<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/videoConference/videoConferenceStyle.css">
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/tables/datatables-demo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("joinStartStreamsBtn").addEventListener("click", function() {
                var roomId = document.getElementById("joinRoomIdInput").value;
                if (roomId) {
                    window.location.href = "/videoConference/room?roomId=" + roomId;
                } else {
                    alert("방 ID를 입력해주세요.");
                }
            });
        });
    </script>
</th:block>

<th:block layout:fragment="content">
    <div>
        <h1>화상회의 참여하기</h1>
        <hr>
        <div class="btn-container" style="margin-top: 15%">
            <h3>화상회의 방 고유 ID를 입력해주세요</h3>
            <input type="text" class="roomIdInput" id="joinRoomIdInput"/>
            <button type="button" class="btn btn-success" id="joinEnterRoomBtn">채팅방 참여하기</button>
            <!-- enterRoomBtn 클릭시 나타남, Streams 정보를 담은 Peer 를 웹소켓 ( 시그널링 )   -->
            <button type="button" class="btn btn-success" id="joinStartStreamsBtn" style="display: none;">시작하기</button>
        </div>
    </div>

    <!-- webRTC 연결을 위한 js  -->
    <script src="/js/videoConference/enterRoom.js"></script>
</th:block>
</html>