<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <style>
        #calendar {
            max-width: 1100px;
            margin: 40px auto;
        }
    </style>
</th:block>
<th:block layout:fragment="javascript">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.14/index.global.min.js'></script>
    <script th:inline="javascript">

        // 당일 설정 가능하게
        function addOneDay(date) {
            var newDate = new Date(date);
            newDate.setDate(newDate.getDate() + 1);
            return newDate.toISOString().split('T')[0];  // 'YYYY-MM-DD' 형식으로 반환
        }
        document.addEventListener('DOMContentLoaded', function() {

            var calendarEl = document.getElementById('calendar');

            // 서버에서 전달된 데이터를 JavaScript 변수로 전달
            var calendarData = /*[[${calendarFormDTO}]]*/ [];

            var calendar = new FullCalendar.Calendar(calendarEl, {
            googleCalendarApiKey: 'AIzaSyCyTApWr2NijbtvLNwUGFu3wCe_lYSSB5U',
            initialView: 'dayGridMonth',
                events: calendarData.map(event => ({
                    title: event.contents,
                    start: event.startDate,
                    end: addOneDay(event.endDate)
                })),
                customButtons: {
                        customPrevY: { // 이전 연도로 이동
                            icon: 'fc-icon-chevrons-left',
                            click: function() {
                                calendar.prevYear();
                            }
                        },
                        customPrev: { // 이전 달로 이동
                            icon: 'fc-icon-chevron-left',
                            click: function() {
                                calendar.prev();
                            }
                        },
                        customToday: { // 오늘 날짜로 이동
                            text: 'Today',
                            click: function() {
                                calendar.today();
                            }
                        },
                        customNext: { // 다음 월로 이동
                            icon: 'fc-icon-chevron-right',
                            click: function() {
                                calendar.next();
                            }
                        },
                        customNextY: { // 다음 연도로 이동
                            icon: 'fc-icon-chevrons-right',
                            click: function() {
                                calendar.nextYear();
                            }
                        },
                    }, headerToolbar: {
                    //왼쪽툴바 설정
                    left: 'customPrevY,customPrev,customToday,customNext,customNextY',
                    center: 'title',
                    //오른쪽 툴바 설정
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                allDaySlot: true,
                dayMaxEvents: true, // 최대 이벤트 개수
                displayEventTime: false, // 이벤트에 시간 표시 여부

                //공휴일 데이터 추가
                eventSources: [{ // 구글 캘린더 ID입력
                googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
                backgroundColor: "transparent",
                borderColor: "transparent",
                className: "kr-holiday",
                textColor: "red"
                }],editable: true,

                //droppable을 사용할때 droppable true 드롭이벤트
                droppable: true,
                dateClick: function(info) {
                //날짜 클릭 시 발생할 이벤트
                    $("#calendar_start_date").val(info.dateStr);
                    $("#calendarModal").modal("show");
                    $("#closeCalendar").on("click",function (){
                        $("#calendarModal").modal("hide");
                    })
                    $("#addCalendar").off("click").on("click",function() {  // modal의 추가 버튼 클릭 시
                        var content = $("#calendar_content").val();
                        var start_date = $("#calendar_start_date").val();
                        var end_date = addOneDay($("#calendar_end_date").val());

                        //내용 입력 여부 확인
                        if (content == null || content == "") {
                            alert("내용을 입력하세요.");
                        } else if (start_date == "" || end_date == "") {
                            alert("날짜를 입력하세요.");
                        } else if (new Date(end_date) - new Date(start_date) < 0) { // date 타입으로 변경 후 확인
                            alert("종료일이 시작일보다 먼저입니다.");
                        } else { // 정상적인 입력 시
                            var obj = {
                                contents: content,
                                startDate: start_date,
                                endDate: end_date
                            };//전송할 객체 생성
                            $.ajax({
                                url: '/calendar/save',  // 서버에 전송할 엔드포인트
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(obj),
                                success: function(response) {
                                    console.log("Success:", response);
                                    // 서버에서 성공 응답을 받은 경우, 캘린더에 이벤트 추가
                                    calendar.addEvent({
                                        title: content,
                                        start: start_date,
                                        end: end_date
                                    });
                                    // 모달 닫기
                                    $("#calendarModal").modal("hide");
                                },
                                error: function(xhr) {
                                    console.error("Error:", xhr);
                                    alert("일정 추가에 실패했습니다.");
                                }
                            });
                        }
                    });
                            console.log(info);
                            //info에서 console 찍어보면 편함
                },
                eventClick: function(info) {

                // 일정 클릭 시 발생할 이벤트
                //클릭한 일정 Id
                    console.log(info);
                },
                drop: function(info) {
                //드래그 드롭 후 이벤트
                },
                eventDrop: function(info) {

                },
                eventResize: function(info) {
                //일정 크기를 변경했을떄 이벤트
                }

            });
            // 캘린더를 그려준다.
            calendar.render();
        });
    </script>
    <!-- modal 추가 -->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="calendar_content" class="col-form-label">일정 내용</label>
                        <input type="text" class="form-control" id="calendar_content" name="calendar_content">
                        <label for="calendar_start_date" class="col-form-label">시작 날짜</label>
                        <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                        <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                        <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addCalendar">추가</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCalendar">취소</button>
                </div>

            </div>
        </div>
    </div>


</th:block>
<th:block layout:fragment="content">
    <div id='calendar'></div>
</th:block>