<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <style>
        #calendar {
            max-width: 1100px;
            margin: 40px auto;
        }
    </style>
</th:block>
<th:block layout:fragment="javascript">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.14/index.global.min.js'></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var calendarData = /*[[${calendarFormDTO}]]*/ [];


        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                googleCalendarApiKey: 'AIzaSyCyTApWr2NijbtvLNwUGFu3wCe_lYSSB5U',
                initialView: 'dayGridMonth',
                events: calendarData.map(event => ({
                    id: event.calendarId,
                    title: event.title,
                    contents: event.contents,
                    start: event.startDate,
                    end: event.endDate,
                })),
                customButtons: {
                    customPrevY: {
                        icon: 'fc-icon-chevrons-left',
                        click: function() {
                            calendar.prevYear();
                        }
                    },
                    customPrev: {
                        icon: 'fc-icon-chevron-left',
                        click: function() {
                            calendar.prev();
                        }
                    },
                    customToday: {
                        text: 'Today',
                        click: function() {
                            calendar.today();
                        }
                    },
                    customNext: {
                        icon: 'fc-icon-chevron-right',
                        click: function() {
                            calendar.next();
                        }
                    },
                    customNextY: {
                        icon: 'fc-icon-chevrons-right',
                        click: function() {
                            calendar.nextYear();
                        }
                    },
                },
                headerToolbar: {
                    left: 'customPrevY,customPrev,customToday,customNext,customNextY',
                    center: 'title',
                    //오른쪽 툴바 설정
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                },
                allDaySlot: true,
                dayMaxEvents: true, // 최대 이벤트 개수
                displayEventTime: false, // 이벤트에 시간 표시 여부

                //공휴일 데이터 추가
                eventSources: [{ // 구글 캘린더 ID입력
                googleCalendarId: 'ko.south_korea#holiday@group.v.calendar.google.com',
                backgroundColor: "transparent",
                borderColor: "transparent",
                className: "kr-holiday",
                textColor: "red"
                }],editable: true,

                //droppable을 사용할때 droppable true 드롭이벤트
                droppable: true,
                dateClick: function(info) {
                    console.log("asdfdsafsda",info);
                //날짜 클릭 시 발생할 이벤트
                    $("#calendarId").val("");  // 새 이벤트를 추가할 때 ID는 비워 둡니다.
                    $("#calendar_start_date").val(info.dateStr);
                    $("#calendar_end_date").val(info.dateStr);  // 기본적으로 시작 날짜와 같은 날짜로 설정합니다.
                    $("#calendarModal").modal("show");
                    $("#closeCalendar").on("click",function (){
                        $("#calendarModal").modal("hide");
                    });
                    $("#addCalendar").off("click").on("click", function() {
                        var id = $("#calendarId").val();
                        var title = $("#calendar_title").val();
                        var contents = $("#calendar_contents").val();
                        var start_date = $("#calendar_start_date").val();
                        var end_date = $("#calendar_end_date").val();

                        if (title == null || title == "") {
                            alert("내용을 입력하세요.");
                        } else if (start_date == "" || end_date == "") {
                            alert("날짜를 입력하세요.");
                        } else if (new Date(end_date) - new Date(start_date) < 0) { // date 타입으로 변경 후 확인
                            alert("종료일이 시작일보다 먼저입니다.");
                        } else { // 정상적인 입력 시
                            var obj = {
                                id: id,
                                title: title,
                                contents: contents,
                                startDate: start_date,
                                endDate: end_date,
                                location: 'Some location'
                            };
                            $.ajax({
                                url: '/calendar/save',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify(obj),
                                success: function(response) {
                                    obj.calendarId = response.calendarId;
                                    calendar.addEvent({
                                        id: obj.calendarId,
                                        title: title,
                                        contents: contents,
                                        start: start_date,
                                        end: end_date,
                                        location: 'Some location'
                                    });
                                    $("#calendarModal").modal("hide");
                                },
                                error: function(xhr) {
                                    console.error("Error:", xhr);
                                    alert("일정 추가에 실패했습니다.");
                                }
                            });
                        }
                    });
                },
                eventClick: function(info) {
                    // 이벤트 클릭 시 발생할 동작
                    var event = info.event;
                    $("#calendarModifyId").val(event.id);
                    $("#deleteCalendar").val(event.id);
                    $("#calendarModifyTitle").val(event.title);
                    $("#calendarModifyContents").val(event.contents);
                    $("#calendarModifyStartDate").val(event.startStr);
                    $("#calendarModifyEndDate").val(event.endStr ? event.endStr : event.startStr);

                    // 모달 열기
                    $("#calendarModifyModal").modal("show");

                    console.log(info);
                },
                drop: function(info) {
                //드래그 드롭 후 이벤트
                },
                eventDrop: function(info) {
                },
                eventResize: function(info) {
                //일정 크기를 변경했을떄 이벤트
                }
            });
            // 캘린더를 그려준다.
            calendar.render();
        });
        /*]]>*/
    </script>
    <!--개인 일정 입력 모달-->
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">일정을 입력하세요.</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="calendar_title" class="col-form-label">일정 제목</label>
                        <input type="text" class="form-control" id="calendar_title" name="calendar_title">
                        <label for="calendar_contents" class="col-form-label">일정 내용</label>
                        <textarea class="form-control" name="calendar_contents" id="calendar_contents" cols="30" rows="10"></textarea>
                        <label for="calendar_start_date" class="col-form-label">시작 날짜</label>
                        <input type="date" class="form-control" id="calendar_start_date" name="calendar_start_date">
                        <label for="calendar_end_date" class="col-form-label">종료 날짜</label>
                        <input type="date" class="form-control" id="calendar_end_date" name="calendar_end_date">
                        <label for="calendar_location" class="col-form-label">위치</label>
                        <input type="text" class="form-control" id="calendar_location" name="calendar_location">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="addCalendar">추가</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeCalendar">취소</button>
                </div>
            </div>
        </div>
    </div>

    <!--개인 일정 수정 모달-->
    <div class="modal fade" id="calendarModifyModal" tabindex="-1" role="dialog" aria-labelledby="calendarModifyModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="calendarModifyModalLabel">개인 일정 사항</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <form>
                            <input type="hidden" id="calendarModifyId">
                            <label for="calendarModifyTitle" class="col-form-label">일정 제목</label>
                            <input type="text" class="form-control" id="calendarModifyTitle" name="calendarModifyTitle">
                            <label for="calendarModifyContents" class="col-form-label">일정 내용</label>
                            <textarea class="form-control" name="calendarModifyContents" id="calendarModifyContents" cols="30" rows="10"></textarea>
                            <label for="calendarModifyStartDate" class="col-form-label">시작 날짜</label>
                            <input type="date" class="form-control" id="calendarModifyStartDate" name="calendarModifyStartDate">
                            <label for="calendarModifyEndDate" class="col-form-label">종료 날짜</label>
                            <input type="date" class="form-control" id="calendarModifyEndDate" name="calendarModifyEndDate">
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="modifyCalendar">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-target="#deleteModalToggle" data-bs-toggle="modal" >삭제</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 id="calendarDeleteId"></h6>
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">개인 일정 삭제</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-target="#calendarModifyModal" data-bs-toggle="modal">취소</button>
                    <form action="/calendar/delete" method="post">
                        <input type="hidden" name="calendarId" id="deleteCalendar">
                        <button type="submit" class="btn btn-danger" data-dismiss="modal">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content">
    <div id='calendar'></div>
</th:block>