<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="javascript">
      <script src="/js/calendar/datatables.js"></script>
      <script>
            document.addEventListener('DOMContentLoaded', function() {
                  flatpickr(".vacationDate", {
                        locale: "ko", // 한국어 설정
                        mode: "range"
                  });

                  flatpickr(".halfDate", {
                        locale: "ko", // 한국어 설정
                        wrap: true
                  });

                  flatpickr(".sickDate", {
                        locale: "ko", // 한국어 설정
                        mode: "range"
                  });
            });
      </script>
</th:block>

<div layout:fragment="content">
      <div class="row">
            <h5>휴가 등록</h5>
            <hr>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">🌴 연차</h5>
                              <p class="card-text">25일</p>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#annual" >신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">🕒 반차</h5>
                              <p class="card-text">25일</p>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#half">신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">🤒 병가</h5>
                              <p class="card-text">6일</p>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sick">신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
                  <div class="card">
                        <div class="card-body">
                              <h5 class="card-title">💼 기타</h5>
                              <p class="card-text">6일</p>
                              <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#other">신청하기</a>
                        </div>
                  </div>
                  <br>
            </div>
      </div>

      <th:block th:replace="~{calendar/fragments/vacationMyHistory :: tables}">
      </th:block>
      <th:block th:replace="~{calendar/fragments/vacationRequests::vacationRequest}">
      </th:block>


      <!--  연차 Modal -->
      <th:block th:replace="~{calendar/fragments/vacationrequest/annualModal :: annualModal}"></th:block>

      <!--  반차 Modal -->
      <th:block th:replace="~{calendar/fragments/vacationrequest/halfModal :: halfModal}"></th:block>

      <!--  병가 Modal -->
      <th:block th:replace="~{calendar/fragments/vacationrequest/sickModal :: sickModal}"></th:block>

      <!--  기타 Modal -->
      <th:block th:replace="~{calendar/fragments/vacationrequest/otherModal :: otherModal}"></th:block>
</div>