<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: Tables */-->
<div class="card mb-4" th:fragment="tables">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        7월 출근 데이터
    </div>

    <div class="card-body">
        <table id="datatablesCommute" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>📅요청날짜</th>
                <th>⏰출근시각</th>
                <th>🕔퇴근시각</th>
                <th>⏳근무시간</th>
                <th>⏱️초과근무시간</th>
                <th>📃사유</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="i : ${#numbers.sequence(1, 31)}" th:data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${i}">
                <td th:text="'2024-07-'+${i}"></td>
                <td th:text="'2024-07-'+${i}+' 09:00'"></td>
                <td th:text="'2024-07-'+${i}+' 18:00'"></td>
                <td>9시간 0분</td>
                <td>0시간 0분</td>
                <td th:switch="${i % 4}">
                    <span th:case="0">📥 신청됨</span>
                    <span th:case="1">🔍 검토중</span>
                    <span th:case="2">✅ 승인</span>
                    <span th:case="3">서버오류</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>