<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: Tables */-->
<div class="card mb-4" th:fragment="tables">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        7월 출근 데이터

        <div class="container mt-3">
            <div class="row">
                <form id="dataForm" method="post">
                    <div class="col-md-4">
                        <label for="monthYearPicker">데이터조회 : </label>
                        <input type="text" id="monthYearPicker" class="form-control"/>
                        <input type="submit" class="btn btn-primary" value="조회">
                        <input type="button" class="btn btn-primary" value="근무추가">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table id="datatablesCommute" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>📅날짜</th>
                <th>⏰출근시각</th>
                <th>🕔퇴근시각</th>
                <th>⏳근무시간</th>
                <th>⏱️초과근무시간</th>
                <th>📃상태</th>
            </tr>
            </thead>

            <tbody>
            <!--/* 상세 보기 이동 시 onclick 이벤트 핸들러로 Javascript 함수 추가 */-->
            <tr onclick="" th:each="i : ${#numbers.sequence(1, 31)}" th:data-bs-toggle="modal" th:data-bs-target="'#exampleModal' + ${i}">
                <td th:text="'2024-07-'+${i}"></td>
                <td th:text="'2024-07-'+${i}+' 09:00'"></td>
                <td th:text="'2024-07-'+${i}+' 18:00'"></td>
                <td>9시간 0분</td>
                <td>0시간 0분</td>
                <td th:switch="${i % 4}">
                    <span th:case="0">📥 신청됨</span>
                    <span th:case="1">🔍 검토중</span>
                    <span th:case="2">✅ 승인</span>
                    <span th:case="3">❌ 미승인</span>
                </td>

                <div class="modal fade" th:id="'exampleModal' + ${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel" th:text="'📅2024-07-'+${i}+' 근무 기록 수정'"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <strong>⏰출근시각</strong><input type="time" class="form-control">
                                <strong>🕔퇴근시각</strong><input type="time" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>