<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/* Top Navigation Bar */-->
<th:block th:fragment="header">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <!--/* Navbar Brand */-->
        <a class="navbar-brand ps-3" href="/main">Group Works</a>

        <!--/* Sidebar Toggle */-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <span th:text="'사원번호 : ' + ${session.employee.employeeId}" style="color:white; margin-left: 65%"></span>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <span th:text="'이름 : ' + ${session.employee.employeeName}" style="color:white;"></span>

        <!-- kah 알람 버튼-->
        <th:block th:replace="~{notification/notification :: notification}">
        </th:block>

        <!--/* Navbar */-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    <li><a class="dropdown-item" href="/employee/mypage">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/employee/modifyInfo">내정보변경</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- 알람 토스트 -->
    <th:block th:replace="~{notification/notification :: notificationToast}">
    </th:block>
    <!-- 알람 모달 창 -->
    <th:block th:replace="~{notification/notification :: notificationOffcanvas}">
    </th:block>
</th:block>
