<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/* Top Navigation Bar */-->
<th:block th:fragment="notification">
    <button class="btn btn-dark btn-sm d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"  type="button" data-bs-toggle="offcanvas" data-bs-target="#notificationOffcanvasRight" aria-controls="offcanvasRight">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
        </svg>
        <span class="translate-middle badge border border-light rounded-circle bg-danger p-1 d-none">
        </span>
    </button>
</th:block>
<th:block th:fragment="notificationOffcanvas">
    <!-- 오프캔버스 -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="notificationOffcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasRightLabel">📢 전체 알림</h3>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-danger me-md-2">전체 삭제</button>
        </div>
        <hr>
        <div class="offcanvas-body d-flex flex-column" style="padding-top: 0px;">
            <!-- 알림 리스트가 여기에 표시됩니다. -->
            <div id="notification-list" class="flex-grow-1 overflow-auto">
                <!-- 알림 항목들이 여기에 추가됩니다 -->
            </div>
        </div>
    </div>
</th:block>
<!--notification.js 파일과 연결되어있음-->
<th:block th:fragment="notificationToast">
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="toast-container">

        </div>
    </div>
</th:block>
</html>









