<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR CODE TEST</title>

    <!--/* Boot Strap 5.3.0 */-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!--/* Boot Strap Template CSS & JS */-->
    <link href="/css/styles.css" rel="stylesheet" />

    <!--/* Jquery CDN */-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!--/* Boot Strap 5.3.0 */-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h1>QR CODE</h1>

    <!--/* Button trigger modal */-->
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#qrCodeModal">
        QR Code 생성
    </button>

    <!--/* Modal */-->
    <div class="modal fade" id="qrCodeModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="draftCanselLabel">QR Code</h1>
                    <button type="button" class="btn-close none-print" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="none-print">
                    <button type="button" id="printBtn" class="btn btn-secondary" onclick="printBtn();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
                        </svg>인쇄
                    </button>
                    <br><br>
                    </div>
                    <img th:src="'data:image/png;base64,'+${qrCode}" alt="QR Code">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger none-print" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var prtContent;
        var originalBodyContent;
        var printWindow;

        function printBtn () {
            // 프린트할 영역의 id 값을 통해 콘텐츠를 가져옵니다.
            prtContent = document.getElementById("qrCodeModal").innerHTML;
            // 기존 페이지의 내용을 숨기기 위한 스타일을 정의합니다.
            originalBodyContent = document.body.innerHTML;

            // 인쇄할 콘텐츠를 새로운 div에 추가합니다.
            printWindow = window.open('', '', 'width=800,height=600');
            printWindow.document.open();
            printWindow.document.write(`
                <html>
                    <head>
                        <title>출하 QR Code 인쇄</title>
                        <style>
                            @media print {
                                body {
                                    zoom: 360%;
                                }
                                .none-print {
                                    display: none;
                                }
                                @page {
                                    size: A4;
                                    margin: 10mm; /* 페이지 여백 모두 10mm */
                                }
                            }
                        </style>
                    </head>
                    <body>
                        ${prtContent}
                    </body>
                </html>
            `);
            printWindow.document.close();
            printWindow.print();
            printWindow.onload = function() {
                // 인쇄 대화 상자가 닫힐 때 창을 닫습니다.
                setTimeout(() => printWindow.close(), 100);
            };
        }
    </script>
</body>
</html>