<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: WorkFlow approval Wait Tables */-->
<div class="card mb-4" th:fragment="approvedHistory">

    <div class="card-header">
        <i class="bi bi-folder-fill"></i>
        승인된 결재 목록
    </div>

    <div class="card-body">
        <table id="MyApprovedTable" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>결재 번호</th>
                <th>결재 구분</th>
                <th>결재 제목</th>
                <th>
                    <div style="font-weight: bolder">기안자 : </div>
                    소속</th>
                <th>직급</th>
                <th>기안자 명</th>
                <th>기안 일</th>
                <th>최종 승인일</th>
                <th>
                    <div style="font-weight: bolder">결재자 : 최종</div>
                    소속</th>
                <th>직급</th>
                <th>결재자 명</th>
                <th>결재 여부</th>
                <th>결재 인원</th>
                <th>진행도</th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="approval" type="kr.co.groupworks.dto.workflow.WorkFlowInsertDTO"*/-->
            <tr th:onclick="load([[${list.id}]])" th:each="list : ${approval}">
                <td>[[${list.id}]]</td>
                <td>[[${list.workFlowType}]]</td>
                <td>[[${list.title}]]</td>
                <!--/* 기안자 정보 */-->
                <td>[[${list.department}]]</td>
                <td>[[${list.employeeRank}]]</td>
                <td>[[${list.employeeName}]]</td>
                <td>[[${list.draftDate}]]</td>
                <td>[[${list.approvalDate}]]</td>
                <!--/* 최종 결재자 정보 */-->
                <td>[[${list.finalApprovalRank}]]</td>
                <td>[[${list.finalApprovalDepartment}]]</td>
                <td>[[${list.finalApprovalName}]]</td>
                <td>[[${list.status}]]</td>
                <td>[[${list.approvalCount} + '/' + ${list.approverCount}]]</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success"
                             th:style="${ 'width: ' + #numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2) + '%;'}">
                            [[${#numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2)}]]%
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>