<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: WorkFlow approval Wait Tables */-->
<div class="card mb-4" th:fragment="referrerList">

    <div class="card-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
        </svg>&nbsp;결재 참조 목록
    </div>

    <div class="card-body">
        <table id="referrerListTable" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>결재 번호</th>
                <th>결재 구분</th>
                <th>결재 제목</th>
                <th>
                    <div style="font-weight: bolder">기안자 : </div>
                    소속</th>
                <th>직급</th>
                <th>기안자 명</th>
                <th>기안 일</th>
                <th>최종 승인일</th>
                <th>
                    <div style="font-weight: bolder">결재자 : 최종</div>
                    소속</th>
                <th>직급</th>
                <th>결재자 명</th>
                <th>결재 여부</th>
                <th>결재 인원</th>
                <th>진행도</th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="approval" type="kr.co.groupworks.workflow.dto.dto.WorkFlowDTO"*/-->
            <tr th:onclick="load([[${list.id}]])" th:each="list : ${referrers}">
                <td>[[${list.id}]]</td>
                <td>[[${list.workFlowType}]]</td>
                <td>[[${list.title}]]</td>
                <!--/* 기안자 정보 */-->
                <td>[[${list.department}]]</td>
                <td>[[${list.employeeRank}]]</td>
                <td>[[${list.employeeName}]]</td>
                <td>[[${list.draftDate}]]</td>
                <td>[[${list.approvalDate}]]</td>
                <!--/* 최종 결재자 정보 */-->
                <td>[[${list.finalApprovalRank}]]</td>
                <td>[[${list.finalApprovalDepartment}]]</td>
                <td>[[${list.finalApprovalName}]]</td>
                <td th:if="${list.status == 1}"><span class="approval">승인</span></td>
                <td th:if="${list.status == 2}"><span class="rejection">반려</span></td>
                <td th:if="${!(list.status == 1 || list.status == 2)}">진행</td>
                <td>[[${list.approvalCount} + '/' + ${list.approverCount}]]</td>
                <td>
                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success"
                             th:style="${ 'width: ' + #numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2) + '%;'}">
                            [[${#numbers.formatDecimal((list.approvalCount *1.0) / list.approverCount *100, 0, 2)}]]%
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>