<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}" data-bs-theme="white">
<th:block layout:fragment="css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/offcanvas-navbar/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="../css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .bd-mode-toggle .dropdown-menu .active .bi {
            display: block !important;
        }
    </style>

</th:block>
<th:block layout:fragment="javascript">
    <script src="/js/tables/datatables-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            /*비동기식 메일 휴지통으로 보내기*/
            $(document).on('click', '.trashicon', function () {
                const trashconfirm = confirm("메일을 휴지통으로 보내시겠습니까?");
                if (trashconfirm) {
                    var mailId = $(this).data('id');
                    $.ajax({
                        url: '/mail/updateMailStatus',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id: mailId,
                            status: 2 // 상태를 2로 변경
                        }),
                        success: function (response) {

                        },
                        error: function (error) {
                            alert("메일이 휴지통으로 이동 중 에러가 발생했습니다")
                        }
                    })
                }
            })
            // 비동기식 중요한 메일 체크
            $(document).on('click', '.star-icon', function () {
                var $this = $(this);
                var mailId = $this.data('id'); // data-id 값을 가져옴
                $.ajax({
                    url: '/mail/updateMailStatus', // 서버 엔드포인트 URL
                    type: 'POST', // 요청 방식
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: mailId, // 메일 ID
                        status: 1   // 상태를 1로 변경
                    }),
                    success: function (response) {
                        // alert('메일 상태가 업데이트되었습니다.');
                        // 아이콘 변경
                        $this.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill star-icon-fill" viewBox="0 0 16 16" style="margin: 0px 10px" data-id="' + mailId + '">\
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>\
                            </svg>');
                    },
                    error: function (error) {
                        alert('상태 업데이트 중 오류가 발생했습니다.');
                    }
                });
            });

            // 비동기식 중요한 메일 체크 해제
            $(document).on('click', '.star-icon-fill', function () {
                var $this = $(this);
                var mailId = $this.data('id'); // data-id 값을 가져옴
                $.ajax({
                    url: '/mail/updateMailStatus', // 서버 엔드포인트 URL
                    type: 'POST', // 요청 방식
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: mailId, // 메일 ID
                        status: 0   // 상태를 1로 변경
                    }),
                    success: function (response) {
                        // alert('메일 상태가 업데이트되었습니다.');
                        // 아이콘 변경
                        $this.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star star-icon" viewBox="0 0 16 16" style="margin: 0px 10px" data-id="' + mailId + '">\
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>\
                            </svg>');

                    },
                    error: function (error) {
                        alert('상태 업데이트 중 오류가 발생했습니다.');
                    }
                });
            });
        });
    </script>
</th:block>

<th:block layout:fragment="content">
    <h3>메일수신함</h3>

    <main class="container">
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h6 class="border-bottom pb-2 mb-0">
                메일수신함 <span th:text="'(' + ${mailList.size()} + ')'" style="font-size: 16px"></span>
            </h6>

            <!--검색창-->
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
                 style="position: relative; margin-top: 10px">

                <form action="/mail/receive/search" class="col-12 d-flex mb-3 mb-lg-0 me-lg-3" role="search">
                    <select name="keytype" id="keytype" class="form-control form-control-white text-bg-white me-2" style="width: 10%">
                        <option>제목</option>
                        <option>발신자이름</option>
                    </select>
                    <input type="search" class="form-control form-control-white text-bg-white me-2" placeholder="메일검색"
                           aria-label="Search" name="keyword">
                    <input type="submit" value="검색" class="btn btn-primary">
                </form>
            </div>
            <th:block th:each="mail : ${mailList}">
                <!--한개 시작-->
                <div class="d-flex text-body-secondary pt-3" style="padding-top: 2rem !important;">
                    <!--중요한 메일 x-->
                    <th:block th:if="${mail.getMailStatus()==0}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-star star-icon" viewBox="0 0 16 16" style="margin: 0px 10px"
                             th:data-id="${mail.getId()}">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                        </svg>
                    </th:block>

                    <!--중요한 메일 o-->
                    <th:block th:if="${mail.getMailStatus()==1}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-star star-icon-fill" viewBox="0 0 16 16" style="margin: 0px 10px"
                             th:data-id="${mail.getId()}">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </th:block>
                    <a th:href="@{/mail/detail/{mid}(mid=${mail.getId()})}"
                       style="color: inherit; text-decoration-line: none">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between" style="margin: 0 0 10px 0">
                                <strong class="text-gray-dark"
                                        th:text="${mail.getMailSenderName()}+'('+${mail.getMailSender()}+')'"></strong>
                                <th:block th:text="${mail.getMailSendTime()}"></th:block>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span class="text-gray-dark" th:text="${mail.getMailTitle()}"></span>

                                <!--안 읽었던 메일이면-->
                                <th:block th:if="${mail.getMailIsRead()==0}">
                                    <div>
                                        <a href="" style="color: black; margin-right: 5px; text-decoration-line: none"
                                           class="trashicon" th:data-id="${mail.getId()}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </a>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                                        </svg>
                                    </div>
                                </th:block>

                                <!--읽었던 메일이면-->
                                <th:block th:if="${mail.getMailIsRead()==1}">
                                    <div>
                                        <a href="" style="color: black; margin-right: 5px; text-decoration-line: none"
                                           class="trashicon" th:data-id="${mail.getId()}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </a>
                                        <!--열람 o 메일-->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-envelope-open-fill" viewBox="0 0 16 16">
                                            <path d="M8.941.435a2 2 0 0 0-1.882 0l-6 3.2A2 2 0 0 0 0 5.4v.314l6.709 3.932L8 8.928l1.291.718L16 5.714V5.4a2 2 0 0 0-1.059-1.765zM16 6.873l-5.693 3.337L16 13.372v-6.5Zm-.059 7.611L8 10.072.059 14.484A2 2 0 0 0 2 16h12a2 2 0 0 0 1.941-1.516M0 13.373l5.693-3.163L0 6.873z"/>
                                        </svg>
                                    </div>
                                </th:block>

                            </div>
                        </div>
                    </a>
                </div>


            </th:block>
            <!--한개 끝-->

        </div>
    </main>
    <script src="../js/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="../js/mail/offcanvas-navbar.js"></script>
</th:block>


