<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />
    <link href="summernote-bs5.css" rel="stylesheet">
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/tables/datatables-demo.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="summernote-bs5.js"></script>

</th:block>

<th:block layout:fragment="content">
    <h3>메일 작성</h3>
    <div class="mb-3">
        <label for="receiverID" class="form-label">받는사람</label>
        <input type="email" class="form-control" id="receiverID" placeholder="name@example.com" name="receiverID">
    </div>
    <div class="mb-3">
        <label for="referenceID" class="form-label">참조</label>
        <input type="email" class="form-control" id="referenceID" placeholder="name@example.com" name="referenceID">
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" placeholder="name@example.com" name="title">
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">파일첨부</label>
        <input type="text" class="form-control" id="attachedFile" placeholder="name@example.com" name="attachedFile">
    </div>
    <div class="mb-3" id="summernote">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" style="resize: none"></textarea>
    </div>
    <script>
        $('#summernote').summernote({
            placeholder: 'Hello Bootstrap 5',
            tabsize: 2,
            height: 100
        });
    </script>
</th:block>


