<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
      <style>
            h3 { font-weight: bolder; color: black; }
            .cover-image { width: 100%; }
      </style>
</th:block>
<th:block layout:fragment="javascript">
</th:block>
<th:block layout:fragment="content">
      <img class="cover-image" src="/img/GroupWorks_Covoer.png" alt="CroupWorks 커버 이미지">
      <h3><br>메인입니다.</h3>
</th:block>