<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
      <style>
            h3 { color : aquamarine}
      </style>
</th:block>
<th:block layout:fragment="javascript">
      <script src="/js/main/invalid-department.js?v=<%=System.currentTimeMillis() %>"></script>
</th:block>
<th:block layout:fragment="content">
      <h3>메인입니다.</h3>
</th:block>