<!--<!doctype html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout/layout}">-->
<!--<th:block layout:fragment="css">-->
<!--    <style>-->

<!--    </style>-->
<!--</th:block>-->
<!--<th:block layout:fragment="javascript">-->
<!--    <script src="/js/tables/datatables-demo.js"></script>-->
<!--</th:block>-->

<!--<th:block layout:fragment="content">-->
<!--    <h3>메일 상세보기</h3>-->
<!--</th:block>-->

<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>

<body>
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="javascript">
    <script>
        $(document).ready(function () {
            /*비동기식 메일 휴지통으로 보내기*/
            $(document).on('click', '.trashicon', function () {
                const trashconfirm = confirm("메일을 휴지통으로 보내시겠습니까?");
                if (trashconfirm) {
                    var mailId = $(this).data('id');
                    $.ajax({
                        url: '/mail/updateMailStatus',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            id: mailId,
                            status: 2 // 상태를 2로 변경
                        }),
                        success: function (response) {

                        },
                        error: function (error) {
                            alert("메일이 휴지통으로 이동 중 에러가 발생했습니다")
                        }
                    })
                }
            })
            // 비동기식 중요한 메일 체크
            $(document).on('click', '.star-icon', function () {
                var $this = $(this);
                var mailId = $this.data('id'); // data-id 값을 가져옴
                $.ajax({
                    url: '/mail/updateMailStatus', // 서버 엔드포인트 URL
                    type: 'POST', // 요청 방식
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: mailId, // 메일 ID
                        status: 1   // 상태를 1로 변경
                    }),
                    success: function (response) {
                        // alert('메일 상태가 업데이트되었습니다.');
                        // 아이콘 변경
                        $this.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star-fill star-icon-fill" viewBox="0 0 16 16" style="margin: 0px 10px" data-id="' + mailId + '">\
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>\
                            </svg>');
                    },
                    error: function (error) {
                        alert('상태 업데이트 중 오류가 발생했습니다.');
                    }
                });
            });

            // 비동기식 중요한 메일 체크 해제
            $(document).on('click', '.star-icon-fill', function () {
                var $this = $(this);
                var mailId = $this.data('id'); // data-id 값을 가져옴
                $.ajax({
                    url: '/mail/updateMailStatus', // 서버 엔드포인트 URL
                    type: 'POST', // 요청 방식
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: mailId, // 메일 ID
                        status: 0   // 상태를 1로 변경
                    }),
                    success: function (response) {
                        // alert('메일 상태가 업데이트되었습니다.');
                        // 아이콘 변경
                        $this.replaceWith('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-star star-icon" viewBox="0 0 16 16" style="margin: 0px 10px" data-id="' + mailId + '">\
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>\
                            </svg>');

                    },
                    error: function (error) {
                        alert('상태 업데이트 중 오류가 발생했습니다.');
                    }
                });
            });
        });
    </script>
</th:block>

<th:block layout:fragment="content">
    <div class="container" style="margin: 10% auto; width: 70%">
        <div id="titlePreview">
           <h3><span th:text="${mailDTO.getMailTitle()}"></span></h3>
        </div>
        <div id="writerPreview">
            <div>
                <b>작성자</b> : <span th:text="${mailDTO.getMailSenderName()}"></span><small th:text="'('+${mailDTO.getMailSender()}+')'"></small>
            </div>
        </div>
        <div id="senderPreview">
            <div>
                <b>수신자</b> : <span th:text="${mailDTO.getMailReceiverName()}"></span><small th:text="'('+${mailDTO.getMailReceiver()}+')'"></small>
            </div>
        </div>
        <div id="referrerPreview">
            <div>
                <b>참조자</b> : <span th:text="${mailDTO.getMailReferrerName()}"></span><small th:text="'('+${mailDTO.getMailReferrer()}+')'"></small>
            </div>
        </div>
        <div id="datePreview" style="display: flex; align-items: center; justify-content: space-between;">
            <div>
                <b>작성일</b> : <span th:text="${mailDTO.getMailSendTime()}"></span>
            </div>
            <div>
                <span>
                    <th:block th:if="${mailDTO.getMailStatus() == 0}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-star star-icon" viewBox="0 0 16 16" style="margin: 0px 10px"
                             th:data-id="${mailDTO.getId()}">
                            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                        </svg>
                    </th:block>

                    <th:block th:if="${mailDTO.getMailStatus() == 1}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-star star-icon-fill" viewBox="0 0 16 16" style="margin: 0px 10px"
                             th:data-id="${mailDTO.getId()}">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                    </th:block>
                </span>
                <span>
                    <a href="" style="color: black; margin-right: 5px; text-decoration-line: none"
                           class="trashicon" th:data-id="${mailDTO.getId()}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                </span>
            </div>
        </div>
        <hr>
        <div id="contentPreview" style="margin: 10px 0 150px 0;">
            <!-- 첨부파일 -->
            <th:block th:if="${mailDTO.getMailAttachmentFiles() != NullPointerException}">
                <div style="text-align: right;" id="attachFileList">
                <span data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder" viewBox="0 0 16 16">
                        <path d="M.54 3.87.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31zM2.19 4a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zm4.69-1.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139q.323-.119.684-.12h5.396z"/>
                    </svg>
                    첨부파일
                </span>
                    <!-- 다운로드 -->
                    <div class="collapse" id="collapseExample"
                         style="margin: 10px; position: absolute; right: 14%; transform: translateX( 5% );">
                        <div class="card card-body" id="preview-file">
                            <th:block th:each="file : ${mailDTO.getMailAttachmentFiles()}">
                                <a th:href="@{/mail/download/{filename}(filename=${file.getFileName()}, mailId=${mailDTO.getId()})}" >
                                    <span th:text="${file.getFileName()}"></span>
                                </a>
                            </th:block>
                        </div>
                    </div>
                </div>
            </th:block>
            <!-- 게시판내용 -->
            <span th:text="${mailDTO.getMailContent()}"></span>
        </div>
        <hr>

    </div>
</th:block>
</body>
</html>
