<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--/* !필수 Header */-->
<head th:replace="layout/header::header">
    <title>휴지통</title>
</head>


<body class="sb-nav-fixed">

<!--/* !필수 Top Menu */-->
<nav th:replace="layout/topNav::top-nav"></nav>

<!--/* !필수 Side Bar Menu */-->
<div th:replace="layout/sideMenu::side"></div>

<!--/* !필수 Contents Start */-->
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">MAIN</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">MAIN</li>
            </ol>
            <h3>휴지통</h3>
            <!--/* !필수 footer */-->
            <footer th:replace="layout/footer::footer"></footer>

            <!--/* Add External link 필요한 추가 링크는 여기에... */-->
            <!--/* ===== 링크 예시 ===== */-->
            <!--/* Chart Graph */-->
            <script src="/js/chart/chart-area-demo.js"></script>
            <script src="/js/chart/chart-bar-demo.js"></script>
            <!--/* Card */-->
            <script src="/js/cards/chart-pie-demo.js"></script>
            <!--/* Table */-->
            <script src="/js/tables/datatables-demo.js"></script>

</body>
</html>