img {
    width: 80px;
}
.text-size {
    width: 120px;
}
.approver-info-hover:hover {
    background: #c1c1c1;
}
.font-danger {
    color: #bb2d3b;
    font-weight: bold;
}
.full-appl {
    margin-top: -54px;
    margin-left: 57px;
    margin-bottom: -51px;
    width: 2px;
    height: 186px;
    background-color: #dee2e6;
    transform: rotate(39deg);
}

@media print {
    body {
        zoom: 68%; /* 배율 설정 */
    }
    .none-print {
        display: none;
    }
    img {
        width: 80px;
    }
    .text-size {
        width: 120px;
    }
    @page {
        size: A4;
        margin: 10mm; /* 페이지의 상단, 하단, 좌측, 우측 여백을 모두 10mm로 설정 */
    }
}