#localStream.black-screen {
    display: block;
    background-color: black;
    width: 640px;  /* 적절한 크기로 설정 */
    height: 360px; /* 적절한 크기로 설정 */
}

#localStream {
    width: 640px;
    height: 360px;
    display: none; /* Ensure it is hidden initially */
}

#remoteStreamDiv {
    width: 640px;
    height: 360px;
}

.video-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-container{
    display: flex;
    gap: 20px;
}