<html lang="kr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="content">
<div class="mb-4">
    <a href="/materialflow/new-order/1" class="btn btn-success">발주서 작성</a>
    <a href="/materialflow/new-order/2" class="btn btn-primary">수주서 작성</a>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="bi bi-folder-fill"></i>
        수주 목록
    </div>
    <div class="card-body">
        <table id="table1" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>수주 번호</th>
                <th>거래처 상호</th>
                <th>발주 담당자</th>
                <th>발주 일자</th>

                <th>납품 수주담당자</th>
                <th>납기 예정 일자</th>
                <th>납품 주소</th>

                <th>납기 일자</th>
                <th>총 액수</th>
                <th>세 율</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="approval" type="kr.co.groupworks.workflow.dto.dto.WorkFlowDTO"*/-->
            <tr th:onclick="load([[${list.id}]], [[${list.classification +1}]])" th:each="list : ${receiveList}">
                <!--/*@thymesVar id="list" type="kr.co.groupworks.materialflow.dto.OrderDTO"*/-->
                <td th:text="${list.getOrderCode()}"></td>
                <!--/* 거래처 정보 */-->
                <td th:text="${list.getManager().getBusiness().getBusinessName()}"></td>
                <td th:text="${list.getManager().getName()}"></td>
                <!--/* 발주 정보 */-->
                <td th:text="${list.getOrderDate()}"></td>

                <!--/* 납품 정보 */-->
                <td th:text="${list.getEmployee().getName()}"></td>
                <td th:text="${list.getDueDate()}"></td>
                <td th:text="${list.getAddress()}"></td>
                <td th:text="${list.getDeliveryDate()}"></td>

                <!--/* 총 액수 */-->
                <td th:text="${list.getTotalAmount()}"></td>
                <td th:text="${list.getTex()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <!-- 아이콘 변경 필요 -->
        <i class="bi bi-folder-fill"></i>
        발주 목록
    </div>
    <div class="card-body">
        <table id="table2" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>발주 번호</th>
                <th>발주 담당자</th>
                <th>발주 일자</th>

                <th>거래처 상호</th>
                <th>납품 수주담당자</th>
                <th>납기 예정 일자</th>
                <th>납품 주소</th>

                <th>납기 일자</th>
                <th>총 액수</th>
                <th>세 율</th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="approval" type="kr.co.groupworks.workflow.dto.dto.WorkFlowDTO"*/-->
            <tr th:onclick="load([[${list.id}]], [[${list.classification +1}]])" th:each="list : ${sendList}">
                <!--/*@thymesVar id="list" type="kr.co.groupworks.materialflow.dto.OrderDTO"*/-->
                <td th:text="${list.getOrderCode()}"></td>
                <!--/* 발주 정보 */-->
                <td th:text="${list.getEmployee().getName()}"></td>
                <td th:text="${list.getOrderDate()}"></td>

                <!--/* 거래처 정보 */-->
                <td th:text="${list.getManager().getBusiness().getBusinessName()}"></td>
                <td th:text="${list.getManager().getName()}"></td>

                <!--/* 납품 정보 */-->
                <td th:text="${list.getDueDate()}"></td>
                <td th:text="${list.getAddress()}"></td>
                <td th:text="${list.getDeliveryDate()}"></td>

                <!--/* 총 액수 */-->
                <td th:text="${list.getTotalAmount()}"></td>
                <td th:text="${list.getTex()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</th:block>

<th:block layout:fragment="javascript">
    <script src="/js/materialflow/tables.js"></script>
</th:block>
</html>