<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QR MOVE</title>
</head>
<body>
    <h1>QR TEST MOVE [[${no}]]</h1><br>
    <label for="no">QR TEST no.</label><br>
    <input type="text" id="no"><br>
    <a id="move">QR Test Move</a>

    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            document.getElementById("no").addEventListener("change", function (e) {
                let no = document.getElementById("no").value;
                alert("no: " + no);
                document.getElementById("move").setAttribute("href", "/qr/test/" + no);
            })
        })
    </script>
</body>
</html>