<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--/* Section: WorkFlow approval Wait Tables */-->
<div class="card mb-4" th:fragment="approvalWait">

    <div class="card-header">
        <i class="bi bi-folder-fill"></i>
        승인 완료 결재
    </div>

    <div class="card-body">
        <table id="datatablesSimple" class="table table-hover" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
            </tr>
            </thead>

            <tbody>
            <!--/* 상세 보기 이동 시 onclick 이벤트 핸들러로 Javascript 함수 추가 */-->
            <!-- <tr onclick="" th:each="lsit : ${dtoList}"> -->
            <tr>
                <td>Name 01</td>
                <td>Position 01</td>
                <td>Office 01</td>
                <td>Name 01</td>
                <td>Position 01</td>
                <td>Office 01</td>
                <td>Name 01</td>
                <td>Position 01</td>
                <td>Office 01</td>
                <td>Name 01</td>
                <td>Position 01</td>
                <td>Office 01</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>